<!DOCTYPE html>
<html>
	<head>
	<% include ../partials/head %>
	</head>

<body>
	<header>
		<% include ../partials/header_edits %>
		<link rel="stylesheet" href="/stylesheets/select2.css" />
	</header>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5>Set DAY target temp and sensors</h5>
					</div>
					<div class="panel-body">
						<div class="input-group">
							<input id="setDayTargetTemp" type="text" value=<%=dayTemp.temp%> name="setDayTargetTemp">
						</div>
						<div style="padding-top:15px;">
							<select id="daysensors" class="form-control" style="width:100%;" name="daysensors" multiple="multiple">
							<optgroup label="Sensor location:">
								<% sensors.forEach(function(item){ %>
								  <option value="<%=item.id%>"
								  <%var arr = dayTemp.sensor_ids.split(',');
								  for (var i=0; i<arr.length; i++){
								  	if (item.id==arr[i]) {%> selected="selected" <%}
								  }%>><%= item.location %>
								  </option>
								 <%});%>
							 </select>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xs-12 col-md-6 col-lg-6">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5>Set NIGHT target temp and sensors</h5>
					</div>
					<div class="panel-body">
						<div class="input-group">
							<input id="setNightTargetTemp" type="text" value=<%=nightTemp.temp%> name="setNightTargetTemp">
						</div>
						<div style="padding-top:15px;">
							<select id="nightsensors" class="form-control" style="width:100%;" name="nightsensors" multiple="multiple">
								<optgroup label="Sensor location:">
								<% sensors.forEach(function(item){ %>
								  <option value="<%=item.id%>"
								  <%var arr = nightTemp.sensor_ids.split(',');
								  for (var i=0; i<arr.length; i++){
								  	if (item.id==arr[i]) {%> selected="selected" <%}
								  }%>><%= item.location %>
								  </option>
								 <%});%>
							 </select>
						</div>						
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="padding-bottom:20px;">
			<div class="col-xs-12 col-md-12 col-lg-12">
				<button id="resetbtn" type="button" class="btn btn-danger pull-left">Reset</button>
				<!-- <div class="btn-group pull-right" role="group" aria-label="..."> -->
					<button id="setbtn" type="button" class="btn btn-success pull-right">Set</button>
					<!-- <button id="morebtn" type="button" class="btn btn-success"><span class="glyphicon glyphicon-tasks"</span></button> -->
				<!-- </div> -->
			</div>
		</div>
	</div>

</body>

<% include ../partials/javascript.ejs %>
<script src="/javascripts/bootstrap.touchspin.js"></script>
<script src="/javascripts/select2/select2.min.js"></script>
<script src="/javascripts/custom.js"></script>

<script>

	$( document ).ready(function() {

		$('#resetbtn').click(function(){
			// the dayTemp.sensor_ids variable contains a string with value either 1 or 2 or 1,2.
			// Summarizing: using the .split() function on the day/nightTemp.sensor_ids variable helps me to 
			// send data to POST <as array> and update the select2 input value (which also needs an array!!! 
			var curDayValue = $("input[name='setDayTargetTemp']").val(); //numeric
			var curNightValue = $("input[name='setNightTargetTemp']").val(); //numeric
			var curDaySensorIds = $("#daysensors").val(); //array
			var curNightSensorIds = $("#nightsensors").val(); //array
			var prevDaySensorArr='<%=dayTemp.sensor_ids%>'.split(','); //string -> array
			var prevNightSensorArr='<%=nightTemp.sensor_ids%>'.split(','); //string ->array

			$("input[name='setDayTargetTemp']").val(<%=dayTemp.temp%>);
			$("input[name='setNightTargetTemp']").val(<%=nightTemp.temp%>);

			//programmatically set one ore more values to the select2 input:
			$("#daysensors").val(prevDaySensorArr).trigger("change");
			$("#nightsensors").val(prevNightSensorArr).trigger("change");


			if (curDayValue!=<%=dayTemp.temp%> || !(curDaySensorIds.compare(prevDaySensorArr))){
				setTemp(<%=dayTemp.temp%>, '<%=dayTemp.name%>', prevDaySensorArr);
			}
			else
			{
				console.log("No need for action...");
			}
			if (curNightValue!=<%=nightTemp.temp%>|| !(curNightSensorIds.compare(prevNightSensorArr))){
				setTemp(<%=nightTemp.temp%>,'<%=nightTemp.name%>', prevNightSensorArr);
			}
			else
			{
				console.log("No need for action...");
			}
			
		})

		$('#setbtn').click(function(){
			var newDaytemp = $("input[name='setDayTargetTemp']").val();
			var newDaySensorIds = $("#daysensors").val();
			setTemp(newDaytemp, '<%=dayTemp.name%>', newDaySensorIds);

			var newNighttemp = $("input[name='setNightTargetTemp']").val();
			var newNightSensorIds = $("#nightsensors").val();
			setTemp(newNighttemp, '<%=nightTemp.name%>', newNightSensorIds);
		})
		
		$('#daysensors').select2({
			minimumResultsForSearch: Infinity,
			placeholder: "Select day sensors"
		});

		$('#nightsensors').select2({
			minimumResultsForSearch: Infinity,
			placeholder: "Select night sensors"
		});

	}) //end of ( document ).ready(function()

	function setTemp(t, name, sensor_ids){
		$.ajax({
			type: "POST",
			contentType: "application/json; charset=utf-8", //contentType is the type of data you're sending
			url: "/edit/update_temp",
			data: JSON.stringify({newtemp:t, name:name, sensor_ids:sensor_ids}),
			/*JavaScript Object Notation is a way to share data between applications in object format.
			However, you cannot send an object over an HTTP request without first turning it into a string
			and sending it as a single variable. The functions JSON.parse() and JSON.stringify() do this for us.*/
			success: function(rdata) { //rdata = remote data that the server sends as feedback...
				// console.log(rdata.result);
				if (rdata.result==="ok"){
					console.log("success");
					$("#setbtn").empty();
					$("#setbtn").append('Set <span class="glyphicon glyphicon-ok"</span>');
				}
				else
				{
					console.log('error');
					$("#setbtn").empty();
					$("#setbtn").append('Error <span class="glyphicon glyphicon-alert"</span>');
				}
			},
			dataType: "json" // dataType is what you're expecting back from the server: json, html, text,
		});
	}

	$("input[name='setDayTargetTemp']").TouchSpin({
		min: 0, // Minimum value.
		max: 100, // Maximum value.
		decimals: 1,
		boostat: 3, // Boost at every nth step.
		maxboostedstep: 10, // Maximum step when boosted.
		postfix: '&deg C', // Text after the input.
		prefix: 'TEMP :', // Text before the input.
		step: 0.1, // Incremental/decremental step on up/down change.
		stepinterval: 100, // Refresh rate of the spinner in milliseconds.
		stepintervaldelay: 500 // Time in milliseconds before the spinner starts to spin.
	});

	$("input[name='setNightTargetTemp']").TouchSpin({
		min: 0, // Minimum value.
		max: 100, // Maximum value.
		decimals: 1,
		boostat: 3, // Boost at every nth step.
		maxboostedstep: 10, // Maximum step when boosted.
		postfix: '&deg C', // Text after the input.
		 prefix: 'TEMP :', // Text before the input.
		step: 0.1, // Incremental/decremental step on up/down change.
		stepinterval: 100, // Refresh rate of the spinner in milliseconds.
		stepintervaldelay: 500 // Time in milliseconds before the spinner starts to spin.
	});

	$("input[name='setDayTargetTemp']").change(function(){
		$("#setbtn").empty();
		$("#setbtn").append('Set <span class="glyphicon glyphicon-transfer"</span>');
	})

	$("input[name='setNightTargetTemp']").change(function(){
		$("#setbtn").empty();
		$("#setbtn").append('Set <span class="glyphicon glyphicon-transfer"</span>');
	})

</script>