<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/stylesheets/select2.css" >
		<link rel="stylesheet" type="text/css" href="/stylesheets/select2-width-fix.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap-toggle.min.css">
		<% include ../partials/head %>
		<style type="text/css">
			.select2-container .select2-selection--single{
				height:34px;
			}
			.select2-selection__arrow{
				margin-top: 3px;
			}
			.select2-container .select2-selection--single .select2-selection__rendered{
				padding-top: 3px;
				padding-left: 15px;
			}

		</style>
	</head>

<body>
	<header>
		<% include ../partials/header_edits %>
	</header>

	<div class="container-fluid">
		<div class="row">
			<%sensors.forEach(function(sensor){%>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="panel panel-default" id='<%=sensor.id%>'>
				  <!-- Default panel contents -->
				  <div class="panel-heading">
				  	<span><%=sensor.name%></span>
				  	<%if(sensor.default==0){%>
				  	<span name="sensordefault" class="pull-right glyphicon glyphicon-star" style="color:green;cursor:pointer;" onclick="change_default('#<%=sensor.id%>');"></span>
				  	<%}
				  	else
				  	{%>
				  	<span name="sensordefault" class="pull-right glyphicon glyphicon-star-empty" style="color:gray;cursor:pointer;" onclick="change_default('#<%=sensor.id%>');"></span>
				  	<%}%>
				  </div>
				  <div class="panel-body" id="<%=sensor.id%>">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="sensortype<%=sensor.id%>">Type</label>
							<div class="col-sm-10">
						      <select class="form-control" style="width:100%;" id="sensortype<%=sensor.id%>" name="sensortype">
						      	<option value="TEMPERATURE" selected="selected">TEMPERATURE</option>
						      </select>
						    </div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="sensorlocation<%=sensor.id%>">Location</label>
						    <div class="col-sm-10">
						    	<select class="form-control" style="width:100%;" id="sensorlocation<%=sensor.id%>" name="sensorlocation">
						    		<option value="LivingRoom">Living Room</option>
						    		<option value="KidsRoom">Kids Room</option>
						    		<option value="Bedroom">Bedroom</option>
						    		<option value="Hall">Hall</option>
						    		<option value="Kitchen">Kitchen</option>
						    		<option value="Office">Office</option>
						    		<option value="Bathroom">Bathroom</option>
						    		<option value="Room" >Room</option>
						    	</select>
						    </div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="sensorname<%=sensor.id%>">Name</label>
						    <div class="col-sm-10">
						    	<input type="text" class="form-control" id="sensorname<%=sensor.id%>" value="<%=sensor.name%>" name="sensorname">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="sensorxbee<%=sensor.id%>">xbeeID</label>
						    <div class="col-sm-4">
						    	<input type="text" class="form-control" name="sensorxbeeid" id="sensorxbee<%=sensor.id%>" value="<%=sensor.xbee_id%>">
							</div>
							<label class="col-sm-2 control-label" for="sensorstatus<%=sensor.id%>">Status</label>
						    <div class="col-sm-4">
						    	<input type="checkbox"  data-onstyle="success" data-on="Enabled" data-off="Disabled" class="form-control"  id="sensorstatus<%=sensor.id%>"  name="sensorstatus">
							</div>							
						</div>						
					</form>
				  </div>
				</div>
			</div>
			<%})%>
		</div>
		<div class="row" id="buttons" style="padding-bottom:20px;">
			<div class="col-xs-12 col-md-12 col-lg-12">
				<div class="btn-group pull-left">
					<button id="resetbtn" type="button" class="btn btn-danger">Reset</button>
					<button id="refreshbtn" type="button" class="btn btn-danger" onclick="location.reload(true);"><span class="glyphicon glyphicon-refresh"></span></button>
				</div>
				<div class="btn-group pull-right">
					<button id="savebtn" type="button" class="btn btn-success">Save</button>
				</div>
			</div>
		</div>
	</div>

</body>

<% include ../partials/javascript.ejs %>
<script src="/javascripts/select2/select2.min.js"></script>
<script src="/javascripts/bootstrap-toggle.min.js"></script>

<script>
var reset_data = [];
var latest_saved_data=[];

	$( document ).ready(function() {

		reset_data=get_form_data();
		latest_saved_data = get_form_data();

		<%for (var i = sensors.length - 1; i >= 0; i--) {%>
			$("#sensorstatus<%=sensors[i].id%>").bootstrapToggle(<%=sensors[i].status%>==1?'on':'off');

			$('#sensorlocation<%=sensors[i].id%>').select2({
				placeholder: "Select location",
				tags: true
			}).val("<%=sensors[i].location%>").trigger('change');
		<%}%>

		$("[name='sensortype']").select2({
			minimumResultsForSearch: Infinity,
			placeholder: "Select type"
		})

	}) //end of ( document ).ready(function()


	$('#savebtn').click(function(){
			var arr=get_form_data();
			console.log(arr);
		})

	function get_form_data(){
		var arr=[];
		$('.panel.panel-default').each(function(){
			var sn = new Object();
			sn.type=$(this).find("[name='sensortype']").val();
			sn.location=$(this).find("[name='sensorlocation']").val();
			sn.name=$(this).find("[name='sensorname']").val();
			sn.xbee=$(this).find("[name='sensorxbeeid']").val();
			sn.status=($(this).find("[name='sensorstatus']").prop('checked') ? "1" : "0");
			sn.id = $(this).attr('id');
			sn.default = $(this).find("[name='sensordefault']").hasClass("glyphicon-star")?"1":"0";
			arr.push(sn);
		});
		return arr;
	}

	function change_default(id){
		if($(id).find("[name='sensordefault']").hasClass("glyphicon-star-empty")){
			$("[name='sensordefault']").removeClass("glyphicon-star");
			$("[name='sensordefault']").addClass("glyphicon-star-empty").css("color","gray");
			$(id).find("[name='sensordefault']").removeClass("glyphicon-star-empty");
			$(id).find("[name='sensordefault']").addClass("glyphicon-star").css("color","green");
			}
		}

</script>

