<!DOCTYPE html>
<html>
	<head>

		<link rel="stylesheet" type="text/css" href="/bootstrap-toggle/css/bootstrap-toggle.min.css">
		<link rel="stylesheet" type="text/css" href="/select2/css/select2.css" >
		<link rel="stylesheet" type="text/css" href="/stylesheets/select2-width-fix.css">
		<style type="text/css">
			.select2-container .select2-selection--single{
				height:34px;
			}
			.select2-selection__arrow{
				margin-top: 3px;
			}
			.select2-container .select2-selection--single .select2-selection__rendered{
				padding-top: 3px;
				padding-left: 15px;
			}

		</style>
		<% include ../partials/head %>
	</head>

<body>
	<header>
		<% include ../partials/header_edits %>
	</header>

	<div class="container-fluid">
		<div class="row">
			<%sensors.forEach(function(sensor){%>
			<div class="col-xs-12 col-md-6 col-lg-4">
				<div class="panel panel-default" id='<%=sensor.id%>'>
				  <!-- Default panel contents -->
				  <div class="panel-heading">
				  	<span><%=sensor.name%></span>
				  	<%if(sensor.preset=='1'){%>
				  	<span name="sensorpreset" class="pull-right glyphicon glyphicon-star" style="color:green;cursor:pointer;" onclick="change_default('#<%=sensor.id%>');"></span>
				  	<%}
				  	else
				  	{%>
				  	<span name="sensorpreset" class="pull-right glyphicon glyphicon-star-empty" style="color:gray;cursor:pointer;" onclick="change_default('#<%=sensor.id%>');"></span>
				  	<%}%>
				  </div>
				  <div class="panel-body" id="<%=sensor.id%>">
					<form class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-2 control-label" for="sensortype<%=sensor.id%>">Type</label>
							<div class="col-sm-10">
									<input type="text" class="form-control" id="sensortype<%=sensor.id%>" value="<%=sensor.type%>" name="sensortype">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="sensorlocation<%=sensor.id%>">Location</label>
						    <div class="col-sm-10">
						    	<select class="form-control" style="width:100%;" id="sensorlocation<%=sensor.id%>" name="sensorlocation">
						    		<option value="LivingRoom">LivingRoom</option>
						    		<option value="KidsRoom">KidsRoom</option>
						    		<option value="Bedroom">Bedroom</option>
						    		<option value="Hall">Hall</option>
						    		<option value="Kitchen">Kitchen</option>
						    		<option value="Office">Office</option>
						    		<option value="Bathroom">Bathroom</option>
						    		<option value="Room" >Room</option>
						    	</select>
						    </div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label" for="sensorname<%=sensor.id%>">Name</label>
						    <div class="col-sm-10">
						    	<input type="text" class="form-control" id="sensorname<%=sensor.id%>" value="<%=sensor.name%>" name="sensorname">
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label <%if (sensor.uid==''){%>hidden<%};%>" for="sensor<%=sensor.id%>">uID</label>
						    <div class="col-sm-4 <%if (sensor.uid==''){%>hidden<%};%>">
						    	<input type="text" class="form-control" name="sensoruid" id="sensor<%=sensor.id%>" value="<%=sensor.uid%>">
							</div>
							<label class="col-sm-2 control-label" for="sensorstatus<%=sensor.id%>">Status</label>
						    <div class="col-sm-4">
						    	<input type="checkbox"  data-onstyle="success" data-on="Enabled" data-off="Disabled" class="form-control"  id="sensorstatus<%=sensor.id%>"  name="sensorstatus">
							</div>
						</div>
					</form>
				  </div>
				</div>
			</div>
			<%})%>
		</div>
		<div class="row" id="buttons" style="padding-bottom:20px;">
			<div class="col-xs-12 col-md-12 col-lg-12">
				<div class="btn-group pull-left">
					<button id="resetbtn" type="button" class="btn btn-danger">Reset</button>
					<button id="refreshbtn" type="button" class="btn btn-danger" onclick="location.reload(true);"><span class="glyphicon glyphicon-refresh"></span></button>
				</div>
				<div class="btn-group pull-right">
					<button id="savebtn" type="button" class="btn btn-success">Save</button>
				</div>
			</div>
		</div>
	</div>

</body>

<% include ../partials/javascript.ejs %>
<script src="/select2/js/select2.min.js"></script>
<script src="/bootstrap-toggle/js/bootstrap-toggle.min.js"></script>
<script src="/javascripts/custom.js"></script>

<script>
var reset_data = [];
var latest_saved_data=[];


	$( document ).ready(function() {

		<%for (var i = sensors.length - 1; i >= 0; i--) {%>
			$("#sensorstatus<%=sensors[i].id%>").bootstrapToggle(<%=sensors[i].status%>==1?'on':'off');

			$('#sensorlocation<%=sensors[i].id%>').select2({
				placeholder: "Select location",
				tags: true
			}).val("<%=sensors[i].location%>").trigger('change');
		<%}%>

		$("[name='sensortype']").change(function(){
			$("#savebtn").removeProp('disabled');
			$("#savebtn").empty();
			$("#savebtn").append('Save <span class="glyphicon glyphicon-transfer"</span>');
		})

		$("[name='sensorlocation']").change(function(){
			$("#savebtn").removeProp('disabled');
			$("#savebtn").empty();
			$("#savebtn").append('Save <span class="glyphicon glyphicon-transfer"</span>');
		})

		$("[name='sensorname']").change(function(){
			$("#savebtn").removeProp('disabled');
			$("#savebtn").empty();
			$("#savebtn").append('Save <span class="glyphicon glyphicon-transfer"</span>');
		})

		$("[name='sensoruid']").change(function(){
			$("#savebtn").removeProp('disabled');
			$("#savebtn").empty();
			$("#savebtn").append('Save <span class="glyphicon glyphicon-transfer"</span>');
		})

		$("[name='sensorstatus']").change(function(){
			$("#savebtn").removeProp('disabled');
			$("#savebtn").empty();
			$("#savebtn").append('Save <span class="glyphicon glyphicon-transfer"</span>');
		})

		$("#resetbtn").prop('disabled', true);
		$("#savebtn").prop('disabled', true);

		reset_data=get_form_data();
		latest_saved_data = get_form_data();

	}) //end of ( document ).ready(function()


	$('#savebtn').click(function(){
			var arr=get_form_data();
			var emptyError = false;
			for (var i = arr.length - 1; i >= 0; i--) {
				for (var key in arr[i]){
					if(key!='uid' && key!='name' && arr[i][key]===""){
						emptyError = true;
						console.log(key+" field is empty!");
					}
				}
			};

			if(emptyError){
				console.log("All fields except uID and Name are required!");
			}
			else
			{
				if(!compare_arrays_of_obj(arr, latest_saved_data)){
					update_sensors(arr, "update");
				}
				else
				{
					console.log("No need to save. There are no changes.")
					$("#savebtn").empty();
					$("#savebtn").append('Save');
					$("#savebtn").prop('disabled', true);
				}

			}
		})

	function get_form_data(){
		var arr=[];
		$('.panel.panel-default').each(function(){
			var sn = new Object();
			sn.type=$(this).find("[name='sensortype']").val();
			sn.location=$(this).find("[name='sensorlocation']").select2().val();
			sn.name=$(this).find("[name='sensorname']").val();
			sn.uid=$(this).find("[name='sensoruid']").val();
			sn.status=($(this).find("[name='sensorstatus']").prop('checked') ? "1" : "0");
			sn.id = $(this).attr('id');
			sn.preset = ($(this).find("[name='sensorpreset']").hasClass("glyphicon-star") ? "1" : "0");
			arr.push(sn);
		});
		return arr;
	}

	function change_default(id){
		if($(id).find("[name='sensorpreset']").hasClass("glyphicon-star-empty")){
			$("[name='sensorpreset']").removeClass("glyphicon-star");
			$("[name='sensorpreset']").addClass("glyphicon-star-empty").css("color","gray");
			$(id).find("[name='sensorpreset']").removeClass("glyphicon-star-empty");
			$(id).find("[name='sensorpreset']").addClass("glyphicon-star").css("color","green");

			$("#savebtn").removeProp('disabled');
			$("#savebtn").empty();
			$("#savebtn").append('Save <span class="glyphicon glyphicon-transfer"</span>');

			}
		}

	function update_sensors(arr, action){
		$.ajax({
				type: "POST",
				contentType: "application/json; charset=utf-8", //contentType is the type of data you're sending
				url: '/config/update_sensors',
				data: JSON.stringify({data:arr}),
				success: function(rdata) { //rdata = remote data that the server sends as feedback...
					// console.log(rdata.result);
					if (rdata.result==="ok"){
						console.log("success");
						if(action=="update")
						{
							// reset_data=get_form_data();
							$("#savebtn").empty();
							$("#savebtn").append('Save <span class="glyphicon glyphicon-ok"</span>');
							$("#savebtn").prop('disabled', true);
							$("#resetbtn").removeProp('disabled');
							latest_saved_data = arr;
						}
						else if(action=="reset"){
							location.reload(true);
						}
					}
					// else
					// {
					// 	console.log('error');
					// 	$("#savebtn").empty();
					// 	$("#savebtn").append('Error <span class="glyphicon glyphicon-alert"</span>');
					// }
				},
				dataType: "json" // dataType is what you're expecting back from the server: json, html, text,
		});
	}

	$("#resetbtn").click(function(){
		var cur_data=get_form_data();
		if(!compare_arrays_of_obj(cur_data, reset_data) || !compare_arrays_of_obj(cur_data, latest_saved_data)){
			update_sensors(reset_data, "reset");
		}
		else
		{
			console.log("There is no change in the sensors configuration!");
			$("#savebtn").empty();
			$("#savebtn").append('Save');
			$("#resetbtn").prop('disabled', true);
		}
	})


</script>

<script type="text/javascript">
	function backButton() {
	    var value = readCookie('backUrl');
	    eraseCookie('backUrl');
	    document.location.href = value;
	}
</script>
