<!DOCTYPE html>
<html>
	<head>
	<% include ../partials/head %>
	</head>
	<style type="text/css">
		p {
			color:lightblue;
			margin-right: 80px;
			margin-left: 80px;
		}
		a>p,h3 {
			color: white;
		}
		a:hover {
			color:white;
			text-decoration: none;
		}
		@media (min-width: 768px) and (max-width: 991px) {
			p {
				margin-right: 50px;
				margin-left: 50px;
			} 
		}
		@media (max-width: 767px) {
			p {
				margin-right: 0px;
				margin-left: 0px;
			} 
		}
	</style>
<body>
		<header>
			<nav class="navbar navbar-inverse navbar-static-top">
			  <div class="container-fluid">
			    <!-- Brand and toggle get grouped for better mobile display -->
			    <div class="navbar-header">
			      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			      </button>
			      <a class="navbar-brand" href="http://<%=base_url%>/">
			        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
			        </span> back
			      </a>
			    </div>

			    <!-- Collect the nav links, forms, and other content for toggling -->
			    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			      <ul class="nav navbar-nav navbar-right">
			        <li>
						<!-- <a href="http://<%=base_url%>/about">About</a> -->
						<a href="#" onclick="openSettings('about');">About</a>
					</li> 
			        <%if(!isLocal){%>
			        <li><a href="http://<%=base_url%>/logout">Logout</a></li> 
			        <%}%>
			      </ul>
			    </div><!-- /.navbar-collapse -->
			    <hr style="margin:0px;">
			  </div><!-- /.container-fluid -->
			</nav>
		</header>

		<div class="container-fluid" style="margin-top:-10px;">
			<div class="row">
				<div class="col-xs-6 text-center">
					<!-- <div class="config_btn"> -->
					<a href="#" onclick="openSettings('sensors');">
						<!-- <h3><i class="fa fa-share-alt"></i></h3> -->
						<h3><span class="glyphicon glyphicon-eye-open"></span></h3>
						<p>Sensors settings</p>
					</a>
					<!-- </div> -->
					<p class="hidden-xs">
						<i>In <b>Sensors settings</b> one can find details for the sensors used, enable or disable them, set the default sensor or change their name and location.</i>
					</p>
				</div>
				<div class="col-xs-6 text-center">
					<a href="#" onclick="openSettings('database');">
						<!-- <h3><i class="fa fa-database"></i></h3> -->
						<h3><span class="glyphicon glyphicon-transfer"></span></h3>
						<p>Database functions</p>
					</a>
					<p class="hidden-xs" >
						<i>In <b>Database functions</b> the user can archive the temperarure data stored and can also export temperature data for the whole time in a comma seperated values .csv file that can later be viewed with a spreadsheet application.</i>
					</p>					
				</div>
			</div>
			<div class="row hidden-xs" style="margin-top:40px;">
			</div>
			<div class="row">
				<div class="col-xs-6 text-center">
					<a href="#" onclick="openSettings('account');">
						<!-- <h3><i class="fa fa-lock"></i></h3> -->
						<h3><span class="glyphicon glyphicon-user"></span></h3>
						<p>Login account</p>
					</a>
					<p class="hidden-xs">
						<i>In <b>Login account</b> the user can change the name and password used to enter <b>Pyre</b>. This can only be done if the user is authenticated!</i>
					</p>	
				</div>
				<div class="col-xs-6 text-center">
					<a href="#" onclick="openSettings('system');">
						<!-- <h3><i class="fa fa-lock"></i></h3> -->
						<h3><span class="glyphicon glyphicon-wrench"></span></h3>
						<p>System</p>
					</a>
					<p class="hidden-xs">
						<i>In <b>System</b> the user can adjust various thermostat's settings and modules regarding various functionalities (mqtt sensors, xbee sensors, amazon alexa support, ...) </b>.</i>
					</p>	
				</div>				
			</div>
		</div>

</body>

<% include ../partials/javascript.ejs %>
<script src="/javascripts/custom.js"></script>

<script type="text/javascript">
	function openSettings(page){
		if (page==='sensors'){
			var name='backUrl';
			var setUrl = "http://<%=base_url%>/config/sensors";
		}
		else if (page==='database'){
			var name='backUrl';
			var setUrl = "http://<%=base_url%>/config/database";
		}
		else if (page==='account'){
			var name='backUrl';
			var setUrl = "http://<%=base_url%>/config/account";
		}
		else if (page==='timewindows'){
			var name='backUrl_edit';
			var setUrl = "http://<%=base_url%>/config/timewindows";
		}
		else if (page==='system'){
			var name='backUrl';
			var setUrl = "http://<%=base_url%>/config/system";
		}
		else if (page==='about'){
			var name='backUrl';
			var setUrl = "http://<%=base_url%>/about";
		}		
		createCookie(name, window.location.href);
		window.location.href = setUrl;
	}
</script>