<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/select2.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/select2-frontpage-fix.css">
	<% include ./partials/head %>
	</head>

<body>
	<header>
		<% include ./partials/header %>
	</header>

	<div id="myModal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Change profile</h4>
	      </div>
	      <div class="modal-body">
	        <p>Are you sure you want to change the working profile?</p>
	      </div>
	      <div class="modal-footer">
	        <button name="cancelbtn" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	        <button name="okbtn" type="button" class="btn btn-primary">Yes</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->


	<div id="errModal" class="modal fade">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title">Overlap Error</h4>
	      </div>
	      <div class="modal-body">
	        <p>There is an overlap in time windows for the current time. Please edit the profile to fix it.<br/>
	        Until then the status is set to <strong>Paused</strong>.</p>
	      </div>
	      <div class="modal-footer">
	        <button name="okerr" type="button" class="btn btn-primary">OK</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



	<div class="container-fluid">
		<div class="row"> 
			<div class="col-xs-12 col-sm-12 col-md-6"> <!-- Main panel visible allways-->
				<div class="row">
					<div class="col-xs-10">
						<form id="mainform" method="post" action="/therm">
							<select id="profiles" style="width: 100%" class="form-control" name="selected_profile">
							<% profiles.forEach(function(item){ %>
							  <option value="<%=item.id%>"
							  <%if (item.status==1){ %> selected="selected" <% } %>>
							  	<%= item.name %>
							  </option>
							 <%});%>
							</select>
						</form>
					</div>
					<div class="col-xs-2">
						<button type="button" class="btn btn-front pull-right" onclick="editProfile()">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
						</button>
					</div>
				</div>


				<div class="row" style="margin-bottom:10px;">
		    		<div id="temp" class="col-xs-8" style="color:#F6F4EC;">
		    			<!-- <h5><strong>Cur. Temp</strong></h5> -->
		    			<h1>
		    				<span>
								... 
		    				</span>&deg;C
		    			</h1>
		    		</div>
		    		<div id="status" class="col-xs-4 text-right" style="color:#F6F4EC;">
		    			<!-- <h5><strong>Status:</strong></h5> -->
		    			<h4 style="margin-top:30px;"><span class="label label-default">...</span></h4>
		    			<!-- <p style="font-size:20px;padding-left:0px;"><strong>...</strong></p>  -->
		    			<!-- status can be either: Working / Paused / Overlap-->
		    		</div>
				</div>
				<div class="row">
					<div class="hidden-xs hidden-sm col-md-12" style="margin-top:50px;">
						<!-- vertical whitespace when not in extra small screens!-->
					</div>
				</div>
				<div class="row" style="color:white;">
					<div class="col-xs-12">
						<p>Target Temp: <strong><% if (state.err==="") {%><%=time_window_data[0].temp%><% } else {%> - <%}%> &deg C </strong></p>
						<p>Sensors:
							<span class="label-group">
							<%var arr = Object.keys(sensor_location).map(function(k) { return sensor_location[k].location });%>
							<!-- <%=arr.join(' / ');%> -->
							<% arr.forEach(function(location){%>
								<span class="label label-default">
									<%=location;%>
								</span>					
							<%})%>
							</span>
						</p>
					</div>
				</div>
			</div>
			<div class="hidden-xs col-sm-12 col-md-6">
				<div class="row">
					<div class="col-xs-12" style="min-height: 250px">
						<canvas id="MyChart"></canvas>
					</div>
				</div>

					<div class="row">
						<div class="col-xs-5">
							<select id="graph_duration" name="graph_duration" class="form-control" style="width:100%">
								<option value="1" selected="selected">Live</option>
								<option value="12">Last 12 hours</option>
								<option value="24">Last day (24h)</option>
								<option value="168">Last week</option>
								<option value="672">Last month</option>
							</select>
						</div>
						<div class="col-xs-5">
							<select id="graph_sensor" name="graph_sensor" class="form-control" style="width:100%"> 
								<%all_sensors.forEach(function(sensor){%>
									<option value=<%=sensor.id%>><%=sensor.location%></option>
								<%})%>
							</select>
						</div>
						<div class="col-xs-2">
							<button id="graph_refresh" type="button" class="pull-right btn btn-front"><span class="glyphicon glyphicon-refresh"></span></button>
						</div>
					</div>

			</div>
		</div> <!-- end of first row -->
	</div>
</body>

<% include ./partials/javascript.ejs %>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascripts/Chart.js"></script>
<script src="/javascripts/select2/select2.min.js"></script>"

<script>
	var prevstate = "";
	var curstate = ""; // so we know when the state changes and call the setRelay function
	var curdate = new Date();
	var curday = curdate.getDay();

	$( document ).ready(function() {
	
		if (<%=tempdata!=={}%>) //true if we have initial temperature data...
		{
			$('#temp>h1>span').text(<%=tempdata%>);

			//update live graph if Live is selected...
			// var duration=$('#graph_duration').val();
			// if (duration=='1'){//Live data
			// 	update_live_graph(<%=tempdata%>);
			// }

			manage(<%=tempdata%>);	
		}

		var socket = io.connect();
		socket.on('temperatures', function(data){
			console.log(data);
			if(Object.keys(data).length>0){
				$('#temp>h1>span').text(data.mean_sensor_<%=sensors%>);
				manage(data.mean_sensor_<%=sensors%>);

				//update live graph with new data if <Live graph> is selected.
				var duration=$('#graph_duration').val();
				if (duration=='1'){ //Live graph
					var sensor=$('#graph_sensor').val();
					if (sensor=="1"){update_live_graph(data.mean_sensor_1);}
					else {update_live_graph(data.mean_sensor_2);}
				}
				
			}
		});

		// $('#myModal').on('shown.bs.modal', function () {
		//   $("[name='cancelbtn']").focus();
		// });

		var selected_profile;
		$('#profiles').on('focus', function(){
			selected_profile = this.value;
		}).change(function(){
			$('#myModal').modal('show');
		});

		$("[name='okbtn']").click(function(){
			console.log("user confirms to change profile");
			$('#myModal').modal('hide');
			$('form#mainform').submit();
		});

		$("[name='okerr']").click(function(){
			$('#errModal').modal('hide');
		});

		$("[name='cancelbtn']").click(function(){
			$('#profiles').val(selected_profile);
			console.log("the profile change has been canceled");
		});


		if (<%=(state.err==="Overlap")%>) //true if there is an overlap
		{
			$("#status>h4>span").removeClass("label-default");
			$("#status>h4>span").addClass("label-danger");
			$("#status>h4>span").text("Overlap");
			// $("#status>h4>span").css({"color":"#BB3D3D", "font-size":"100%"});
			$('#errModal').modal('show');
			curstate = "Paused";
			setRelay();
		}
		else if (<%=(state.err==="No_time_window")%>) //true if not in a time window
		{
			$("#status>h4>span").removeClass("label-default");
			$("#status>h4>span").addClass("label-info");
			$("#status>h4>span").text("Paused");
			// $("#status>h4>span").css({"color":"#666666", "font-size":"100%"});
			curstate = "Paused";
			setRelay();
		}
		else if (<%=tempdata==={}%>) //no error -we are in a time window... but no initial time data
		{
			// $("#status>h4>span").css({"color":"#F6F4EC", "font-size":"80%"});
			$("#status>h4>span").removeClass("label-default");
			$("#status>h4>span").addClass("label-info");
			$("#status>h4>span").text("Waiting data...");
			curstate = "";
		}

		$('#profiles').select2({
			minimumResultsForSearch: Infinity
		});

		$('[name="graph_duration"]').select2({
			minimumResultsForSearch: Infinity
		});
		$('[name="graph_sensor"]').select2({
			minimumResultsForSearch: Infinity
		});


	}); //end of $(document).ready

	function editProfile(){
		var curprofile;
		curprofile = $('#profiles').val();
		// console.log(curprofile);
		window.location.href = "/edit/"+curprofile;
	}

	// function changeBackground(curstate){
		// if (curstate=="Working"){			
		// 	$('html').css("background-image", "url(../images/flames_2.jpg)");
		// }
		// else if (curstate=="Paused")
		// {
		// 	$('html').css("background-image", "url(../images/blue_flames_2.jpg)");
		// }
		
	// } 
	
	function getCurTime(){
		var d = new Date();
		var n = d.getDay();
		var h = d.getHours();
		var m = d.getMinutes();
		if (h<10) h="0"+h;
		if (m<10) m="0"+m;
		var curtime = h+":"+m;
		return {time:curtime, day:n};
	}

	function setRelay(){
		if (curstate != prevstate){
			//changeBackground(curstate);
			$.ajax({
				type: "POST",
				contentType: "application/json; charset=utf-8", //contentType is the type of data you're sending
				url: "/relay/actions",
				data: JSON.stringify({status:curstate}),
				/*JavaScript Object Notation is a way to share data between applications in object format.
				However, you cannot send an object over an HTTP request without first turning it into a string
				and sending it as a single variable. The functions JSON.parse() and JSON.stringify() do this for us.*/
				success: function(rdata) { //rdata = remote data that the server sends as feedback...
					console.log(rdata.result);
					if (rdata.result==="ok"){
						prevstate = curstate;
					}
				},
				dataType: "json" // dataType is what you're expecting back from the server: json, html, text,
			});
		}

	}

	function manage(curTemp){
		var cur = getCurTime();
		if (<%=(state.err==="")%>) //true if there is no error so we are in a time window...
		{
			if (cur.time >= '<%if (typeof time_window_data[0]!=="undefined"){%><%=time_window_data[0].on_time%><%};%>' && cur.time < '<%if (typeof time_window_data[0]!=="undefined"){%><%=time_window_data[0].off_time%><%};%>') {
				if (curTemp < '<%if (typeof time_window_data[0]!=="undefined"){%><%=time_window_data[0].temp%><%};%>'){
					//the status is: working
					$("#status>h4>span").removeClass("label-info label-danger label-default");
					$("#status>h4>span").addClass("label-success");
					$("#status>h4>span").text("Working");
					// $("#status>h4>span").css({"color":"#F6F4EC", "font-size":"100%"});
					curstate = "Working";
					console.log(curstate);
					setRelay();
				}
				else {
					//the status is: paused
					$("#status>h4>span").removeClass("label-success label-danger label-default");
					$("#status>h4>span").addClass("label-info");
					$("#status>h4>span").text("Paused");
					// $("#status>h4>span").css({"color":"#666666", "font-size":"100%"});
					curstate = "Paused";
					console.log(curstate);
					setRelay();
				}
			}
			else {
				//we just went off the time window so we refresh to get new data
				//console.log('refresh');
				location.reload();
			}
		}
		else if (<%=(state.err==="No_time_window")%>) //true if we are not in a time window...
		{
			console.log("Not in a time window...");
			if (<%=(Object.keys(time_window_next).length!==0)%>) //true if there is a following time window...
			{
				console.log("There is a following time window. Waiting...");
				//when we get in this following time window we refresh to update our data...
				if (cur.time >= '<%if (Object.keys(time_window_next).length!==0)%><%=time_window_next.on_time%>' && cur.time < '<%if (Object.keys(time_window_next).length!==0)%><%=time_window_next.off_time%>') {
				location.reload();
				//console.log('refresh on new time window!!!');
				}
				console.log("Or maybe the next day comes first!");
				// console.log(cur.day, curday);
				if (cur.day > curday)
				{
					//console.log("refresh on new day!!!");
					location.reload();
				}
			}
			else //there is not a time window neither a following one so we refresh for new data on the next day!!!
			{
				console.log("There isn't a time window following. Will refresh on next day! Waiting...");
				if (cur.day > curday)
				{
					//console.log("refresh on new day!!!");
					location.reload();
				}
			}
		}
		else //there is an Overlap!!!
		{
			console.log("Do nothing - wait for the user to fix the overlap!!!");
		}
	}

</script>

<script>

	var ctx = $("#MyChart").get(0).getContext("2d");

	var myLineChart = new Chart(ctx);
	var chart = myLineChart.Line({
	    labels: "<%=graph_data.labels%>".split(','),
	    datasets: [
	        {
	            label: "Average temperature",
	            fillColor: "rgba(220,220,220,0.2)",
	            strokeColor: "rgba(220,220,220,1)",
	            pointColor: "rgba(220,220,220,1)",
	            pointStrokeColor: "#fff",
	            data: "<%=graph_data.temps%>".split(',')
	        }
	    ]
	},
	{
		maintainAspectRatio: false,
		responsive: true,
		scaleShowGridLines : false
	});


	//Update graph selections
	$('#graph_sensor').change(function(){update_graph()});
	$('#graph_duration').change(function(){update_graph()});
	$('#graph_refresh').click(function(){update_graph()});

	// $(window).resize(function(){
	//     chart.resize();
	// }); 

	function update_graph(){
		var duration=$('#graph_duration').val();
		var sensor=$('#graph_sensor').val();
		$.ajax({
				type: "POST",
				contentType: "application/json; charset=utf-8", //contentType is the type of data you're sending
				url: "/therm/update_graph",
				data: JSON.stringify({sensor:sensor,duration:duration}),
				success: function(rdata) { 
					console.log(rdata.result);
					if (rdata.result==="ok"){
						var data = rdata.graph_data;
						chart.destroy();
						myLineChart = new Chart(ctx);
						chart = myLineChart.Line({ //the first object is data
							    labels: data.labels,
							    datasets: [
							        {
							            label: "Average temperature",
							            fillColor: "rgba(220,220,220,0.2)",
							            strokeColor: "rgba(220,220,220,1)",
							            pointColor: "rgba(220,220,220,1)",
							            pointStrokeColor: "#fff",
							            data: data.temps
							        }
							    ]
							},
							{
								maintainAspectRatio: false,
								responsive: true,
								scaleShowGridLines : false
							});						
					}
				},
				dataType: "json" // dataType is what you're expecting back from the server: json, html, text,
			});
	}


	function update_live_graph(temp){
		var label=getCurTime().time;
		//remove datapoints only if there are more than 24 of them esle just add
		if (chart.datasets[0].points.length>24){ 
			chart.removeData();
		}	
		chart.addData([temp], label);
	}


</script>