<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="/select2/css/select2.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/select2-width-fix.css">
		<% include ../partials/head %>
	</head>
<body>
	<header>
		<% include ../partials/header_edits %>
	</header>

	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-md-6 col-lg-5">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h5>Set target temp and sensors</h5>
					</div>
					<div class="panel-body">
						<div class="input-group">
							<input id="setTargetTemp" type="text" value=<%=curtemp.temp%> name="setTargetTemp" readonly>
						</div>
						<div style="padding-top:15px;">
							<select id="sensors" class="form-control" style="width:100%;" name="sensors" multiple="multiple">
								<optgroup label="Sensor location:">
								<% sensors.forEach(function(item){ %>
								  <option value="<%=item.id%>"
								  <%var arr = curtemp.sensor_ids.split(',');
								  for (var i=0; i<arr.length; i++){
								  	if (item.id==arr[i]) {%> selected="selected" <%}
								  }%>><%= item.location %>
								  </option>
								 <%});%>
							 </select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row" style="padding-bottom:20px;">
			<div class="col-xs-12 col-md-6 col-lg-5">
				<div class="btn-group pull-left">
					<button id="setbtn" type="button" class="btn btn-primary pull-left">Set active</button>
					<!-- <button id="resetbtn" type="button" class="btn btn-danger pull-left">Reset</button>
					<button id="refreshbtn" type="button" class="btn btn-danger" onclick="location.reload(true);"><span class="glyphicon glyphicon-refresh"></span></button> -->
				</div>
				<button id="savebtn" type="button" class="btn btn-success pull-right">Save</button>
			</div>
		</div>
	</div>

</body>

<% include ../partials/javascript.ejs %>
<script src="/bootstrap-touchspin/jquery.bootstrap-touchspin.js"></script>
<script src="/select2/js/select2.min.js"></script>
<script src="/javascripts/custom.js"></script>

<script>

	$( document ).ready(function() {
		// $('#resetbtn').prop('disabled',true);
		$('#savebtn').prop('disabled',true);

		// $('#resetbtn').click(function(){
		// 	var curvalue = $("input[name='setTargetTemp']").val();
		// 	var curSensorIds = $("#sensors").val(); //array
		// 	var prevSensorArr='<%=curtemp.sensor_ids%>'.split(','); //string -> array
		//
		// 	$("input[name='setTargetTemp']").val(<%=curtemp.temp%>);
		// 	$("#sensors").val(prevSensorArr).trigger("change");
		//
		// 	if (curSensorIds!=null && (curvalue!=<%=curtemp.temp%> || !(curSensorIds.compare(prevSensorArr)))){
		// 		setTemp(<%=curtemp.temp%>, '<%=curtemp.name%>', prevSensorArr, "reset");
		// 	}
		// 	else
		// 	{
		// 		console.log("No need for action...");
		// 	}
		// })

		$('#savebtn').click(function(){
			var newtemp = $("input[name='setTargetTemp']").val();
			var newSensorIds = $("#sensors").val();
			setTemp(newtemp,'<%=curtemp.name%>', newSensorIds, "save");
		})

		$('#setbtn').click(function(){
			setActiveProfile('1');
		});

		$('#sensors').select2({
			minimumResultsForSearch: Infinity,
			placeholder: "Select sensors"
		});

		//disabling the keyboard showing up on mobile devices!
		$('#sensors').on('select2:opening select2:closing', function( event ) {
    var $searchfield = $(this).parent().find('.select2-search__field');
    $searchfield.prop('disabled', true);
		});

	}) //end of ( document ).ready(function()

	function setTemp(t, name, sensor_ids, action){
		if (sensor_ids!=null){
			$.ajax({
				type: "POST",
				contentType: "application/json; charset=utf-8", //contentType is the type of data you're sending
				url: "/edit/update_temp",
				data: JSON.stringify({newtemp:t, name:name, sensor_ids:sensor_ids}),
				/*JavaScript Object Notation is a way to share data between applications in object format.
				However, you cannot send an object over an HTTP request without first turning it into a string
				and sending it as a single variable. The functions JSON.parse() and JSON.stringify() do this for us.*/
				success: function(rdata) { //rdata = remote data that the server sends as feedback...
					// console.log(rdata.result);
					if (rdata.result==="ok"){
						console.log("success");
						if (action=="save"){
							$("#savebtn").empty();
							$("#savebtn").append('Save <span class="glyphicon glyphicon-ok"</span>');
							$("#savebtn").prop('disabled',true);
							// $("#resetbtn").removeProp('disabled');
						}
						if (action=="reset"){
							$("#savebtn").empty();
							$("#savebtn").append('Save');
							$("#savebtn").prop('disabled',true);
							// $("#resetbtn").prop('disabled', true);
						}
					}
					else
					{
						console.log('error');
						$("#savebtn").empty();
						$("#savebtn").append('Error <span class="glyphicon glyphicon-alert"</span>');
					}
				},
				dataType: "json" // dataType is what you're expecting back from the server: json, html, text,
			});
		}
		else
		{
			console.log('You should at least choose one sensor!');
		}
	}

	$("input[name='setTargetTemp']").TouchSpin({
	min: 10, // Minimum value.
	max: 30, // Maximum value.
	decimals: 1,
	boostat: 10, // Boost at every nth step.
	maxboostedstep: 1, // Maximum step when boosted.
	postfix: '&deg C', // Text after the input.
	prefix: '<span class="glyphicon glyphicon-fire"></span>', // Text before the input.
	step: 0.1, // Incremental/decremental step on up/down change.
	stepinterval: 100, // Refresh rate of the spinner in milliseconds.
	stepintervaldelay: 500 // Time in milliseconds before the spinner starts to spin.
	});

	$("input[name='setTargetTemp']").change(function(){
		$("#savebtn").empty();
		$("#savebtn").append('Save <span class="glyphicon glyphicon-transfer"</span>');
		$("#savebtn").removeProp('disabled');
	})

	$('#sensors').change(function(){
		$("#savebtn").empty();
		$("#savebtn").append('Save <span class="glyphicon glyphicon-transfer"</span>');
		$("#savebtn").removeProp('disabled');
	})


	function backButton() {
	    var value = readCookie('backUrl');
	    eraseCookie('backUrl');
	    document.location.href = value;
	}

	function setActiveProfile(profile_id){
		$.ajax({
			type: "POST",
			contentType: "application/json; charset=utf-8", //contentType is the type of data you're sending
			url: "/edit/update_profile",
			data: JSON.stringify({selected_profile:profile_id}),
			/*JavaScript Object Notation is a way to share data between applications in object format.
			However, you cannot send an object over an HTTP request without first turning it into a string
			and sending it as a single variable. The functions JSON.parse() and JSON.stringify() do this for us.*/
			success: function(rdata) { //rdata = remote data that the server sends as feedback...
				// console.log(rdata.result);
				if (rdata.result==="ok"){
					console.log("success");
					document.location.href ='/therm';
				}
				else
				{
					console.log('error');
				}
			},
			dataType: "json" // dataType is what you're expecting back from the server: json, html, text,
		});
	}

</script>
